*{
    font-family: helvetica, sans-serif;
}

#wrap{
    max-width: 800px;
    margin: 0 auto;
}

h1{
    color: #0f0;
}

#author{
    background-color: #f00;
    color: #fff;
}

#author p {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#image{
    border: 3px solid #000;
    width: fit-content;
    margin: 0 auto;
}

#image img{
    margin: 10px;
}

#image p{
    margin-left: 10px;
}